{% extends "base.html" %}

{% block titulo %}Registro{% endblock %}

{% block contenido %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow">

            <div class="card-header bg-success text-white text-center">
                <h3>Crear Cuenta</h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Correo
                        </label>

                        <input
                            type="email"
                            name="correo"
                            class="form-control"
                            required
                        >

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Contraseña
                        </label>

                        <input
                            type="password"
                            name="clave"
                            class="form-control"
                            required
                        >

                    </div>

                    <button class="btn btn-success w-100">
                        Registrarse
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}